@font-face { font-family: "HelveticaNeueCyrMedium"; src: url("../fonts/helveticaneuecyr-medium.eot"); src: url("../fonts/helveticaneuecyr-medium.eot") format("embedded-opentype"), url("../fonts/helveticaneuecyr-medium.woff") format("woff"), url("../fonts/helveticaneuecyr-medium.ttf") format("truetype"), url("../fonts/helveticaneuecyr-medium.svg#HelveticaNeueCyrMedium") format("svg"); }

* { margin: 0; padding: 0; }

html, body { height: 100%; }

a img, fieldset { border: none; }

a { color: #557799; }
a.is-red { color: #707799; }

li { list-style: none; }

textarea, button, select, input { border: none; outline: none; font-family: Arial, Tahoma, sans-serif; }

button { line-height: 1; cursor: pointer; }
button::-moz-focus-inner { padding: 0; border: 0; }

input:focus, textarea:focus, select:focus, button:focus, h1:focus, h2:focus, h3:focus, h4:focus, h5:focus, h6:focus, a:focus, span:focus { outline: none; }

table { border-spacing: 0; border-collapse: collapse; }

.btn:focus { outline: none; }

.btn-black { border-color: 1px solid #303030; background: #414141; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #414141), color-stop(100%, #252525)); background-image: -webkit-linear-gradient(#414141, #252525); background-image: -moz-linear-gradient(#414141, #252525); background-image: -o-linear-gradient(#414141, #252525); background-image: linear-gradient(#414141, #252525); text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2); box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075); color: white !important; }

.row_comm { padding-bottom: 60px; margin-bottom: 40px; border-bottom: 1px solid #e5e5e5; }

textarea.form-control { resize: vertical; }

.ico { display: inline-block; vertical-align: middle; }

.ico_plus { background: url('../img/icons-sc1bbd9af41.png') 0 -506px no-repeat; width: 10px; height: 11px; }

.ico_minus { background: url('../img/icons-sc1bbd9af41.png') 0 -527px no-repeat; width: 10px; height: 11px; }

.ico_complain { background: url('../img/icons-sc1bbd9af41.png') 0 -1067px no-repeat; width: 12px; height: 16px; }

.ico_smile { background: url('../img/icons-sc1bbd9af41.png') 0 -794px no-repeat; width: 16px; height: 17px; }

.ico_pic { background: url('../img/icons-sc1bbd9af41.png') 0 -859px no-repeat; width: 18px; height: 15px; }

.ico_setting { background: url('../img/icons-sc1bbd9af41.png') 0 -368px no-repeat; width: 16px; height: 16px; }

.ico_male { background: url('../img/icons-sc1bbd9af41.png') 0 -1011px no-repeat; width: 16px; height: 16px; }

.ico_stat-finger { background: url('../img/icons-sc1bbd9af41.png') 0 -113px no-repeat; width: 24px; height: 30px; }

.ico_stat-award { background: url('../img/icons-sc1bbd9af41.png') 0 -33px no-repeat; width: 24px; height: 30px; }

.ico_stat-list { background: url('../img/icons-sc1bbd9af41.png') 0 -328px no-repeat; width: 27px; height: 30px; }

.ico_stat-people { background: url('../img/icons-sc1bbd9af41.png') 0 -193px no-repeat; width: 32px; height: 30px; }

.ico_stat-heart { background: url('../img/icons-sc1bbd9af41.png') 0 -256px no-repeat; width: 27px; height: 30px; }

.ico_act-star { background: url('../img/icons-sc1bbd9af41.png') 0 -394px no-repeat; width: 16px; height: 22px; }

.ico_act-time { background: url('../img/icons-sc1bbd9af41.png') 0 -296px no-repeat; width: 16px; height: 22px; }

.ico_act-list { background: url('../img/icons-sc1bbd9af41.png') 0 -458px no-repeat; width: 16px; height: 22px; }

.ico_act-finger { background: url('../img/icons-sc1bbd9af41.png') 0 -762px no-repeat; width: 16px; height: 22px; }

.ico_act-letter { background: url('../img/icons-sc1bbd9af41.png') 0 -884px no-repeat; width: 16px; height: 22px; }

.ico_act-add { background: url('../img/icons-sc1bbd9af41.png') 0 -426px no-repeat; width: 16px; height: 22px; }

.title { margin-bottom: 25px; font-size: 18px; font-weight: bold; }

.header { position: relative; background: whitesmoke; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #f9f9f9)); background-image: -webkit-linear-gradient(#ffffff, #f9f9f9); background-image: -moz-linear-gradient(#ffffff, #f9f9f9); background-image: -o-linear-gradient(#ffffff, #f9f9f9); background-image: linear-gradient(#ffffff, #f9f9f9); z-index: 500; }
.header .page-header { position: relative; padding: 15px 0; margin: 0; border: none; }
.header .page-header:before, .header .page-header:after { content: ""; display: table; }
.header .page-header:after { clear: both; }

.heade__links { float: right; margin-top: 4px; }
.heade__links a { float: left; margin-left: 20px; color: #787878; font-size: 15px; text-shadow: 0 1px 0 white; }
.heade__links a:first-child { margin: 0; }

.logo { float: left; margin: 4px 30px 0 0; background: url('../img/icons-sc1bbd9af41.png') 0 0 no-repeat; width: 171px; height: 23px; font: 0/0 a; text-shadow: none; color: transparent; }

.search { float: left; width: 318px; }
.search .btn { font-size: 0; }
.search .btn i { display: inline-block; vertical-align: middle; background: url('../img/icons-sc1bbd9af41.png') 0 -233px no-repeat; width: 13px; height: 13px; }

.search-load__row { border-top: 1px solid #cccccc; }
.search-load__row:before, .search-load__row:after { content: ""; display: table; }
.search-load__row:after { clear: both; }
.search-load__row:first-child { border: none; }

.search-load { position: absolute; top: 100%; left: 72px; background: whitesmoke; border: 1px solid #cccccc; border-radius: 0 0 4px 4px; z-index: 1000; }

.search-load__type { float: left; width: 115px; padding: 15px; background: whitesmoke; font-weight: bold; text-align: right; }

.search-load__list { float: left; width: 330px; padding: 13px 0; margin: 0; background: white; }
.search-load__list a { display: block; padding: 2px 20px; }
.search-load__list a:hover { background: #0055cc; color: white; text-decoration: none; }
.search-load__list a:hover span { color: white; }
.search-load__list span { color: #787878; }

.social { float: right; margin-left: 25px; }
.social a { float: left; margin-left: 7px; }
.social a:first-child { margin: 0; }
.social a:hover { opacity: 0.7; }

.social__fb { background: url('../img/icons-sc1bbd9af41.png') 0 -916px no-repeat; width: 28px; height: 28px; }

.social__tw { background: url('../img/icons-sc1bbd9af41.png') 0 -724px no-repeat; width: 28px; height: 28px; }

.social__vk { background: url('../img/icons-sc1bbd9af41.png') 0 -821px no-repeat; width: 28px; height: 28px; }

.userblock { float: right; background: #efefef; width: 200px; position: absolute; bottom: 0; right: 0; z-index: 200; }
.userblock .userblock__in { padding: 13px 24px 13px 24px; cursor: pointer; }
.userblock .userblock__in:before, .userblock .userblock__in:after { content: ""; display: table; }
.userblock .userblock__in:after { clear: both; }
.userblock .userblock__in:hover { background: #e1e1e1; }
.userblock .userblock__avatar { float: left; margin-right: 17px; width: 35px; height: 35px; position: relative; top: 2px; }
.userblock .userblock__name { font-weight: bold; font-size: 14px; color: #45617d; line-height: 1; }
.userblock .userblock__position { font-size: 12px; color: #939393; margin-top: 5px; }
.userblock .userblock__arr { position: absolute; top: 50%; right: 20px; margin-top: -3px; background: url('../img/icons-sc1bbd9af41.png') 0 -490px no-repeat; width: 11px; height: 6px; }
.userblock .userblock__drop { position: absolute; top: 80px; left: 0; width: 200px; background: white; border: 1px solid #567897; -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.4); -moz-box-shadow: 0 0 7px rgba(0, 0, 0, 0.4); box-shadow: 0 0 7px rgba(0, 0, 0, 0.4); border-radius: 3px; display: none; opacity: 0; top: 70px; -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear; }
.userblock.is-active .userblock__drop { display: block; top: 80px; opacity: 1; -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear; }
.userblock .userblock__droptop { position: relative; background: whitesmoke; padding: 10px; }
.userblock .userblock__droptop:before, .userblock .userblock__droptop:after { content: ""; display: table; }
.userblock .userblock__droptop:after { clear: both; }
.userblock .userblock__droptop:before { position: absolute; width: 0px; height: 0px; top: -11px; left: 50%; margin-left: -12px; border-style: solid; border-width: 0 10.5px 12px 10.5px; border-color: transparent transparent whitesmoke transparent; content: ""; }
.userblock .userblock__rating, .userblock .userblock__karma { float: left; width: 49%; text-align: center; }
.userblock .userblock__rating strong, .userblock .userblock__karma strong { display: block; font-size: 15px; }
.userblock .userblock__rating span, .userblock .userblock__karma span { color: #999999; font-size: 13px; line-height: 1; display: block; padding-top: 2px; }
.userblock .userblock__sep { border-left: 1px solid gainsboro; border-right: 1px solid white; width: 0; float: left; height: 35px; }
.userblock .userblock__links { list-style: none; padding-top: 10px; }
.userblock .userblock__links a { display: block; padding: 5px 0 5px 12px; font-weight: bold; color: #486582; text-decoration: none; }
.userblock .userblock__links a:hover { background: #fafafa; }
.userblock .userblock__links li:last-child { border-top: 1px solid #e7e7e7; margin-top: 6px; padding-top: 5px; }

.nav-wrap { background: #557799; box-shadow: inset 0 4px 4px 0 #46627d; position: relative; z-index: 200; }
.nav-wrap .nav li.active { background: #415b77; }
.nav-wrap .nav li.active a { color: #b1cbe4; }
.nav-wrap .nav li ul { display: none; }
@media only screen and (max-width: 780px) { .nav-wrap .nav li ul { display: none !important; } }
.nav-wrap .nav li:hover ul { display: block; position: absolute; top: 100%; left: 0; background: #5b7999; width: 200px; }
.nav-wrap .nav li:hover ul li, .nav-wrap .nav li:hover ul a { float: none; display: block; }
.nav-wrap .nav li:hover ul a { padding: 4px 15px; text-decoration: none; }
.nav-wrap .nav li:hover ul a:hover { background: #415b77; }
.nav-wrap .nav a { color: white; font-size: 16px; font-weight: bold; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3); }
.nav-wrap .nav a:hover { background: #5b7999; }

.footer { padding-top: 10px; border-top: 1px solid #efefef; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fdfdfd), color-stop(100%, #e9e9e9)); background-image: -webkit-linear-gradient(#fdfdfd, #e9e9e9); background-image: -moz-linear-gradient(#fdfdfd, #e9e9e9); background-image: -o-linear-gradient(#fdfdfd, #e9e9e9); background-image: linear-gradient(#fdfdfd, #e9e9e9); }
.footer .footer__bottom { padding: 10px 0; border-top: 1px solid #e1e1e1; -webkit-box-shadow: inset 0 1px 0 white; -moz-box-shadow: inset 0 1px 0 white; box-shadow: inset 0 1px 0 white; margin-top: 20px; }
.footer .footer__social { text-align: right; }
.footer h3 { color: #1e1e1e; font-weight: bold; font-size: 15px; margin-bottom: 12px; }
.footer ul { list-style: none; font-size: 12px; }
.footer ul li { margin-bottom: 3px; }
.footer ul a { color: #5e5e5e; text-decoration: none; }

@font-face { font-family: "HelveticaNeueCyrMedium"; src: url("../fonts/helveticaneuecyr-medium.eot"); src: url("../fonts/helveticaneuecyr-medium.eot") format("embedded-opentype"), url("../fonts/helveticaneuecyr-medium.woff") format("woff"), url("../fonts/helveticaneuecyr-medium.ttf") format("truetype"), url("../fonts/helveticaneuecyr-medium.svg#HelveticaNeueCyrMedium") format("svg"); }

@font-face { font-family: "HelveticaNeueCyrMedium"; src: url("../fonts/helveticaneuecyr-medium.eot"); src: url("../fonts/helveticaneuecyr-medium.eot") format("embedded-opentype"), url("../fonts/helveticaneuecyr-medium.woff") format("woff"), url("../fonts/helveticaneuecyr-medium.ttf") format("truetype"), url("../fonts/helveticaneuecyr-medium.svg#HelveticaNeueCyrMedium") format("svg"); }

@font-face { font-family: "HelveticaNeueCyrMedium"; src: url("../fonts/helveticaneuecyr-medium.eot"); src: url("../fonts/helveticaneuecyr-medium.eot") format("embedded-opentype"), url("../fonts/helveticaneuecyr-medium.woff") format("woff"), url("../fonts/helveticaneuecyr-medium.ttf") format("truetype"), url("../fonts/helveticaneuecyr-medium.svg#HelveticaNeueCyrMedium") format("svg"); }

.filter { margin-bottom: 30px; background: #f6f6f6; }
.filter.is-open { box-shadow: 1px 0 3px rgba(0, 0, 0, 0.3); }

.filter__head { padding: 15px 0; }
.filter__head:before, .filter__head:after { content: ""; display: table; }
.filter__head:after { clear: both; }
.filter__head .btn-group { float: left; margin-right: 20px; }
.filter__head .filter__btn-all { float: right; margin: 0; }

.filter__all { display: none; padding: 15px 0 30px; }
.filter__all:before, .filter__all:after { content: ""; display: table; }
.filter__all:after { clear: both; }

.filter__types { float: left; width: 260px; padding-right: 40px; border-right: 1px solid #e5e5e5; }
.filter__types:before, .filter__types:after { content: ""; display: table; }
.filter__types:after { clear: both; }
.filter__types label { position: relative; display: block; margin-bottom: 7px; padding-left: 25px; font-size: 13px; font-weight: normal; line-height: 19px; }
.filter__types input { position: absolute; top: 3px; left: 0; margin: 0; }

.filter__title { padding: 0 6px; margin-bottom: 10px; font-weight: bold; font-size: 13px; color: black; }

.filter__category, .filter__tags { float: left; width: 435px; padding: 0 34px; }

.filter__category { border-right: 1px solid #e5e5e5; }

.filter__in { font-size: 0; }
.filter__in a { display: inline-block; padding: 0 6px; margin: 0 6px 4px 0; line-height: 18px; font-size: 13px; color: #535353; }
.filter__in a.is-active { border-radius: 3px; background: #5b7999; color: white; }

.item { position: relative; display: inline-block; padding-bottom: 30px; }
.item.is-active:after { content: ""; position: absolute; bottom: 0; left: 50%; margin-left: -15px; width: 0px; height: 0px; border-style: solid; border-width: 0 15px 15px 15px; border-color: transparent transparent #2f2f2f transparent; }

.item__info { position: relative; margin-bottom: 10px; }
.item__info:hover .item__up { display: block; }

.item__video { position: absolute; top: 10px; right: 10px; width: 32px; height: 32px; background: white; background: rgba(255, 255, 255, 0.7); border-radius: 50%; z-index: 5; }
.item__video i { position: absolute; top: 9px; left: 11px; width: 0px; height: 0px; border-style: solid; border-width: 7px 0 7px 12px; border-color: transparent transparent transparent #5b7999; vertical-align: middle; }

.item__pic { font-size: 0; text-align: center; }
.item__pic img { width: 100%; }

.item__detail { line-height: 1.2; }
.item__detail a { color: black; font-weight: bold; }
.item__detail span { display: block; padding-top: 3px; font-size: 12px; color: #979797; }

.item__up { display: none; position: absolute; top: 0; left: 0; right: 0; bottom: 0; padding: 13px; background: black; background: rgba(0, 0, 0, 0.8); z-index: 10; }

.item__title { margin-bottom: 10px; font-size: 18px; font-weight: bold; color: white; line-height: 1; }
.item__title a { color: white; }

.imdb, .kinopoisk { margin-bottom: 12px; line-height: 16px; color: #f3cb05; font-size: 13px; overflow: hidden; }
.imdb span, .kinopoisk span { float: left; height: 16px; padding: 0 5px; margin-right: 9px; background: #f3cb05; box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset; border-radius: 2px; font-weight: bold; font-size: 11px; color: black; text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5); }

.kinopoisk { color: #ff9645; }
.kinopoisk span { background: #ff9645; }

.item__actions { position: absolute; bottom: 13px; right: 13px; left: 13px; font-size: 0; text-align: center; }
.item__actions button { width: 40px; height: 40px; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), inset 0 2px 0 white; background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #e5e5e5), color-stop(100%, #ffffff)); background-image: -webkit-linear-gradient(bottom, #e5e5e5 0%, #ffffff 100%); background-image: -moz-linear-gradient(bottom, #e5e5e5 0%, #ffffff 100%); background-image: -o-linear-gradient(bottom, #e5e5e5 0%, #ffffff 100%); background-image: linear-gradient(bottom, #e5e5e5 0%, #ffffff 100%); border-radius: 4px; }
.item__actions button i { display: inline-block; }
.item__actions button.is-active { box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), inset 0 1px 0 rgba(255, 255, 255, 0.2); background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #717171), color-stop(100%, #2f2f2f)); background-image: -webkit-linear-gradient(bottom, #717171 0%, #2f2f2f 100%); background-image: -moz-linear-gradient(bottom, #717171 0%, #2f2f2f 100%); background-image: -o-linear-gradient(bottom, #717171 0%, #2f2f2f 100%); background-image: linear-gradient(bottom, #717171 0%, #2f2f2f 100%); }

.item__star { float: left; }
.item__star.is-active i { background: url('../img/icons-sc1bbd9af41.png') 0 -954px no-repeat; width: 24px; height: 22px; }

.item__check { float: right; }
.item__check i { background: url('../img/icons-sc1bbd9af41.png') 0 -692px no-repeat; width: 24px; height: 22px; }

.item__time i { background: url('../img/icons-sc1bbd9af41.png') 0 -658px no-repeat; width: 23px; height: 24px; }

.detail { position: relative; padding: 40px 0; margin-bottom: 30px; background: #2f2f2f; }

.detail_mod, .detail_small { margin: 0; background: white; }
.detail_mod .detail__title, .detail_mod .detail__desc-title, .detail_small .detail__title, .detail_small .detail__desc-title { color: black; }
.detail_mod .detail__title a, .detail_mod .detail__desc-title a, .detail_small .detail__title a, .detail_small .detail__desc-title a { color: black; }
.detail_mod .detail__param > li, .detail_small .detail__param > li { padding-right: 100px; }
.detail_mod .detail__param > li > strong, .detail_small .detail__param > li > strong { color: black; }
.detail_mod .detail__param > li > span, .detail_small .detail__param > li > span { color: #555555; }
.detail_mod .detail__param > li a, .detail_small .detail__param > li a { color: #0055cc; }
.detail_mod .detail__text, .detail_small .detail__text { color: #333333; }

.detail_small { padding: 45px 0 35px; }
.detail_small:before, .detail_small:after { content: ""; display: table; }
.detail_small:after { clear: both; }
.detail_small .detail__slogan { margin-bottom: 10px; }

.detail__close { position: absolute; top: 12px; right: 12px; background: url('../img/icons-sc1bbd9af41.png') 0 -1037px no-repeat; width: 20px; height: 20px; }

.detail__prev, .detail__next { position: absolute; top: 50%; margin-top: -45px; width: 45px; height: 90px; background: black; background: rgba(0, 0, 0, 0.3); font-size: 0; }
.detail__prev i, .detail__next i { display: inline-block; }

.detail__prev { left: 0; border-radius: 0 4px 4px 0; }
.detail__prev i { background: url('../img/icons-sc1bbd9af41.png') 0 -1180px no-repeat; width: 19px; height: 34px; }

.detail__next { right: 0; border-radius: 4px 0 0 4px; }
.detail__next i { background: url('../img/icons-sc1bbd9af41.png') 0 -1136px no-repeat; width: 19px; height: 34px; }

.detail__left { float: left; margin-right: 32px; }

.detail__pic img { display: block; border-radius: 4px; box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); }
.detail__pic .item { padding: 0; }

.detail__actions { float: right; margin-left: 40px; }
.detail__actions .actions { margin-bottom: 20px; }

.detail__btns { margin-bottom: 30px; }
.detail__btns:before, .detail__btns:after { content: ""; display: table; }
.detail__btns:after { clear: both; }
.detail__btns .btn { float: left; margin-left: 15px; font-weight: bold; }
.detail__btns .btn:first-child { margin: 0; }

.detail__trailers { margin: 15px 0; text-align: center; }
.detail__trailers .btn { margin: 0 5px; font-weight: bold; }

.detail__author { padding-top: 10px; }

.detail__title { margin-bottom: 10px; font-size: 25px; font-weight: bold; color: white; }
.detail__title a { color: white; text-decoration: underline; }
.detail__title a:hover { text-decoration: none; }

.detail__slogan { margin-bottom: 15px; font-size: 15px; color: #aeaeae; }

.detail__param { display: table; width: 564px; margin-bottom: 25px; }
.detail__param > li { position: relative; margin-bottom: 5px; }
.detail__param > li > strong { float: left; width: 100px; margin-right: 20px; text-align: right; font-weight: bold; color: #7f7f7f; }
.detail__param > li > span, .detail__param > li .detail__rating { display: table; }
.detail__param > li > span { color: white; }
.detail__param > li a { color: white; }
.detail__param .stats { position: absolute; top: 0; right: 0; z-index: 10; }
.detail__param .detail__rating-in, .detail__param .imdb { display: inline-block; vertical-align: middle; }
.detail__param .imdb { margin: 0 0 0 25px; font-size: 16px; color: #7f7f7f; }

.detail__rating { display: inline-block; margin-bottom: 20px; font-size: 0; }

.detail__rating-in img, .detail__rating-in span { vertical-align: top; }
.detail__rating-in img { margin-right: 1px; }
.detail__rating-in span { display: inline-block; line-height: 20px; margin-left: 10px; font-size: 16px; color: #7f7f7f; }

.detail__desc { display: table; max-width: 690px; font-size: 15px; }

.detail__desc-title { margin-bottom: 10px; font-weight: bold; color: white; }

.detail__text { color: #b7b7b7; }

.pagination-wrap { padding: 30px 0; border-top: 1px solid #e5e5e5; text-align: center; }
.pagination-wrap .pagination { display: inline-block; margin: 0; }

.comm__item { position: relative; min-height: 75px; padding-left: 70px; }
.comm__item.is-disabled { opacity: 0.3; }

.comm__pic { position: absolute; top: 0; left: 0; }
.comm__pic img { display: block; border-radius: 50%; }

.comm__in { display: table; }
.comm__in .title { margin-bottom: 10px; }

.comm__critique:before, .comm__critique:after { content: ""; display: table; }
.comm__critique:after { clear: both; }
.comm__critique .comm__detail { padding-top: 15px; }

.comm__content { display: table; }
.comm__content p { margin: 0; }
.comm__content img { margin: 10px 0; }

.comm__rating { float: right; margin-left: 40px; }
.comm__rating li { margin-bottom: 3px; }
.comm__rating li:first-child { margin-bottom: 15px; line-height: 1; font-size: 56px; color: #cecece; }

.comm__detail:before, .comm__detail:after { content: ""; display: table; }
.comm__detail:after { clear: both; }

.comm__user, .comm__date, .comm__count, .comm__link { float: left; margin-right: 10px; }

.comm__user { font-size: 14px; font-weight: bold; color: black; }

.comm__date, .comm__count, .comm__link { margin-top: 1px; font-size: 13px; }

.comm__date { color: #9b9b9b; }

.comm__stats { float: right; margin-left: 30px; font-size: 15px; color: #b2b2b2; }

.comm__vote { opacity: 0; float: right; font-size: 0; }
.comm__vote button { margin-left: 5px; }

.comm__create { margin-top: 50px; padding-left: 30px; border-left: 1px solid #e5e5e5; }
.comm__create .btn-group { margin-bottom: 20px; }
.comm__create .btn { font-weight: bold; }

.comm__create-list li { margin-bottom: 10px; }

.comm__form { position: relative; padding: 10px 10px 10px 70px; margin-bottom: 25px; background: whitesmoke; }
.comm__form .comm__pic { top: 10px; left: 10px; }

.comm__from_reply { margin-top: -26px; }
.comm__from_reply:before { content: ""; position: absolute; top: -13px; left: 70px; width: 0px; height: 0px; border-style: solid; border-width: 0 13px 13px 13px; border-color: transparent transparent whitesmoke transparent; }

.comm__form-foot { padding-top: 10px; }
.comm__form-foot:before, .comm__form-foot:after { content: ""; display: table; }
.comm__form-foot:after { clear: both; }
.comm__form-foot .btn { float: left; margin-right: 30px; }
.comm__form-foot .social { float: left; margin: 0 30px 0 0; }
.comm__form-foot .checkbox { float: left; margin: 7px 0 0 0; font-size: 12px; }
.comm__form-foot .checkbox input { margin: 2px 0 0 -20px; }
.comm__form-foot .button { float: right; height: 17px; margin: 7px 0 0 50px; background: none; color: #0055cc; font-size: 12px; }
.comm__form-foot .button span { display: inline-block; margin-left: 10px; vertical-align: middle; }
.comm__form-foot .button:hover span { text-decoration: underline; color: #2a6496; }

.comm__list .btn-link { padding: 0; font-size: 12px; }
.comm__list .comm__detail { min-height: 22px; }
.comm__list .comm__item { padding-bottom: 7px; margin-bottom: 25px; border-bottom: 1px solid #e5e5e5; }
.comm__list .comm__item.is-hidden { min-height: 0; padding: 0; margin-bottom: 5px; border: none; }
.comm__list .comm__item.is-hidden .comm__pic, .comm__list .comm__item.is-hidden .comm__content, .comm__list .comm__item.is-hidden .comm__foot, .comm__list .comm__item.is-hidden .comm__vote { display: none; }
.comm__list .comm__item.is-hidden:hover .comm__detail .btn { display: inline-block; }
.comm__list .comm__item.is-spoiler .comm__content, .comm__list .comm__item.is-spoiler .comm__foot, .comm__list .comm__item.is-spoiler .comm__vote { display: none; }
.comm__list .comm__item.is-negative { min-height: 0; padding: 0 0 25px 0; opacity: 0.3; }
.comm__list .comm__item.is-negative .comm__pic, .comm__list .comm__item.is-negative .comm__content, .comm__list .comm__item.is-negative .comm__foot, .comm__list .comm__item.is-negative .comm__vote { display: none; }
.comm__list .comm__item:hover .comm__vote, .comm__list .comm__item:hover .comm__foot { opacity: 1; }
.comm__list .comm__content { padding-right: 150px; }
.comm__list .comm__detail .btn-link { float: left; display: none; margin-top: 1px; }

.comm__foot { height: 25px; opacity: 0; }
.comm__foot:before, .comm__foot:after { content: ""; display: table; }
.comm__foot:after { clear: both; }

.comm__complaint { position: relative; float: right; }
.comm__complaint > span { display: none; position: absolute; bottom: 34px; left: 50%; width: 100px; padding: 3px 0; margin-left: -50px; background: black; border-radius: 2px; font-size: 12px; color: white; text-align: center; }
.comm__complaint > span:after { content: ""; position: absolute; top: 100%; left: 50%; margin-left: -5px; width: 0px; height: 0px; border-style: solid; border-width: 6px 5px 0 5px; border-color: black transparent transparent transparent; }
.comm__complaint:hover > span { display: block; }

.comm__reply { padding-left: 50px; }

.comm__roll { position: relative; }
.comm__roll.is-rolled { margin: -26px 0 25px; }

.comm__btn-view { width: 100%; height: 35px; margin-bottom: 25px; background: whitesmoke; color: #8e8e8e; font-size: 12px; }

.comm__spoiler { position: relative; padding-left: 23px; color: #9b9b9b; }
.comm__spoiler i { position: absolute; top: 2px; left: 0; background: url('../img/icons-sc1bbd9af41.png') 0 -986px no-repeat; width: 15px; height: 15px; }
.comm__spoiler button { margin-left: 15px; background: none; color: #9b9b9b; border-bottom: 1px solid; font-size: 12px; }

.movie { background-repeat: no-repeat; background-position: 50% 0; box-shadow: 0 25px 25px rgba(0, 0, 0, 0.2) inset; }
.movie .container { position: relative; height: 500px; }
.movie .container .btn { position: absolute; bottom: 45px; left: 0; }

.share { font-size: 0; text-align: center; }

.share__item { display: inline-block; width: 60px; margin: 0 10px; vertical-align: top; }
.share__item span { position: relative; display: block; margin-bottom: 15px; padding: 12px 0; border: 1px solid #e5e5e5; border-radius: 3px; box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05); font-size: 18px; color: #9b9b9b; }
.share__item span:after, .share__item span:before { content: ""; position: absolute; left: 50%; margin-left: -7px; width: 0px; height: 0px; border-style: solid; border-width: 8px 7px 0 7px; }
.share__item span:before { bottom: -8px; border-color: #e5e5e5 transparent transparent transparent; }
.share__item span:after { bottom: -6px; border-color: white transparent transparent transparent; }
.share__item button { width: 60px; height: 29px; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px 0 rgba(255, 255, 255, 0.2); border-radius: 2px; font-size: 13px; color: white; text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15); font-weight: bold; }

.share__tw { border: 1px solid #0082be; background-color: #00aaf0; background-image: linear-gradient(bottom, rgba(0, 0, 0, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%); }

.share__fb { border: 1px solid #21335a; background-color: #3b5997; background-image: linear-gradient(bottom, rgba(0, 0, 0, 0.07) 0%, rgba(255, 255, 255, 0.07) 100%); }

.share__gp { border: 1px solid #151517; background-color: #4d4e52; background-image: linear-gradient(bottom, rgba(0, 0, 0, 0.08) 0%, rgba(255, 255, 255, 0.08) 100%); }

.cast { padding-bottom: 35px; margin-bottom: 45px; border-bottom: 1px solid #e5e5e5; }
.cast:before, .cast:after { content: ""; display: table; }
.cast:after { clear: both; }

.cast__item { float: left; }

.cast__item_mod .cast__man { width: auto; padding-right: 30px; border-right: 1px solid #e5e5e5; }

.cast__title { margin-bottom: 12px; font-size: 15px; font-weight: bold; }

.cast__man { float: left; width: 90px; margin-right: 30px; line-height: 1.2; }
.cast__man img { display: block; margin-bottom: 12px; }

.cast__list li { margin-bottom: 3px; }

.frames { margin-bottom: 60px; font-size: 0; white-space: nowrap; overflow: hidden; }
.frames a { display: inline-block; margin-right: 7px; vertical-align: top; }

.recomm { padding: 40px 0 50px; margin-bottom: 40px; background: whitesmoke; }
.recomm .nav-tabs { height: 36px; box-shadow: 0 1px 0 white; }
.recomm .nav-tabs li { font-weight: bold; }
.recomm .nav-tabs li a { padding: 7px 10px; }
.recomm .nav-tabs li.active a { padding: 7px 10px 8px; background: whitesmoke; box-shadow: 0 1px 0 white inset; }
.recomm .tab-content .row { padding-top: 20px; }
.recomm .tab-content .row .item { padding-bottom: 0; }

.recomm__user:before, .recomm__user:after { content: ""; display: table; }
.recomm__user:after { clear: both; }

.recomm__user-pic { float: left; margin-right: 20px; }

.recomm__user-rating { float: right; margin-left: 20px; font-size: 18px; color: #b2b2b2; }

.recomm__user-info { display: table; }

.recomm__user-who { margin-bottom: 5px; }
.recomm__user-who a { color: black; font-weight: bold; }

.recomm__user-item { padding-bottom: 20px; margin-bottom: 20px; border-bottom: 1px solid #e5e5e5; box-shadow: 0 1px 0 0 white; }

.online { background: #24303d; }

.current { position: relative; min-height: 185px; }

.current__in { position: absolute; left: 0; bottom: 0; }

.current__item { float: left; margin-right: 10px; }
.current__item .btn { padding: 2px 16px; font-size: 30px; font-weight: bold; }

.current__type { margin-bottom: 7px; text-align: center; color: #9b9b9b; }

.access { padding: 30px 0; margin-bottom: 20px; background: whitesmoke; }

.access__period { font-size: 18px; font-weight: bold; }
.access__period a { border-bottom: 1px dotted; text-decoration: none; }

.access__yes { text-align: right; }
.access__yes a { border-bottom: 1px dotted; text-decoration: none; }

.access__steps { padding-top: 20px; }
.access__steps .row { padding-top: 20px; border-top: 1px solid #e5e5e5; box-shadow: 0 1px 0 white inset; }

.access__title { margin-bottom: 20px; }

.access__step { font-size: 15px; }

.access__in select.form-control { width: 220px; margin-bottom: 10px; }
.access__in .input-group { width: 200px; }
.access__in .help-block { font-size: 12px; }

.access__text { margin-bottom: 15px; }

.access__price { display: inline-block; padding-top: 15px; border-top: 1px solid #e5e5e5; }

.access__step_mod { position: relative; }
.access__step_mod:after { content: ""; position: absolute; top: 25px; right: 30px; background: url('../img/icons-sc1bbd9af41.png') 0 -548px no-repeat; width: 27px; height: 100px; }

.problem { margin-bottom: 5px; text-align: right; }
.problem p { margin: 0; font-size: 12px; }
.problem a { text-decoration: underline; }
.problem a:hover { text-decoration: none; }

.season { margin-bottom: 30px; }
.season .nav-tabs a { font-weight: bold; }
.season .nav-tabs strong { position: relative; display: block; padding: 10px 15px; }
.season .nav-tabs-inverse { border-top: 1px solid #dddddd; border-bottom: none; }
.season .nav-tabs-inverse > li { margin: -1px 0 0 0; }
.season .nav-tabs-inverse > li.active { margin: -1px 0 0 0; }
.season .nav-tabs-inverse > li.active > a { border: 1px solid #dddddd; border-top-color: transparent; }
.season .nav-tabs-inverse > li.active > a:hover { border-color: transparent #dddddd #dddddd; }
.season .nav-tabs-inverse > li > a { border-radius: 0 0 4px 4px; }
.season .nav-tabs-inverse > li > a:hover { border-color: #dddddd #eeeeee #eeeeee; }
.season .tab-content { padding-top: 30px; }

.series { margin-left: 5px; font-size: 0; }

.series__item { display: inline-block; vertical-align: top; width: 226px; margin: 0 0 25px 10px; }
.series__item img { display: block; margin-bottom: 12px; }
.series__item a { font-weight: bold; color: black; font-size: 14px; }
.series__item a span { display: block; }

.online-btn { padding-top: 45px; text-align: right; }

.torrent { margin-bottom: 40px; }
.torrent .table th, .torrent .table td { text-align: center; }
.torrent .table th.is-left, .torrent .table td.is-left { text-align: left; }
.torrent .table td { padding: 20px; vertical-align: middle; }
.torrent .table .torrent__more { padding: 20px 20px 15px; text-align: left; }
.torrent .torrent__btn-more { background: url('../img/icons-sc1bbd9af41.png') 0 -1224px no-repeat; width: 33px; height: 33px; }
.torrent .torrent__btn-more.is-open { background: url('../img/icons-sc1bbd9af41.png') 0 -1093px no-repeat; width: 33px; height: 33px; }
.torrent .torrent__table td { padding: 0; border: none; text-align: left; vertical-align: top; }
.torrent .torrent__table td:first-child { padding-right: 25px; text-align: right; }
.torrent .torrent__table td p { margin-bottom: 2px; color: #676767; }

.torrent__more { display: none; background: whitesmoke; }

.torrent__param { margin-bottom: 20px; }
.torrent__param:before, .torrent__param:after { content: ""; display: table; }
.torrent__param:after { clear: both; }

.torrent__table { float: left; width: 50%; }

.torrent__info:before, .torrent__info:after { content: ""; display: table; }
.torrent__info:after { clear: both; }
.torrent__info li { float: left; margin-right: 17px; font-size: 13px; color: #9a9a9a; }

.torrent__pic { margin-bottom: 20px; text-align: left; font-size: 0; }
.torrent__pic a { display: inline-block; margin-left: 10px; vertical-align: top; }
.torrent__pic a:first-child { margin: 0; }

.torrent__footer { text-align: left; font-size: 12px; }

.footer__actions { float: right; }
.footer__actions a { float: left; margin-left: 15px; }

.torrent__added { display: table; }

.user { padding: 40px 0; }
.user .social { float: none; margin: 0; }
.user .social:before, .user .social:after { content: ""; display: table; }
.user .social:after { clear: both; }

.user__column { overflow: hidden; }
.user__column:first-child { float: left; margin-right: 25px; }
.user__column .stats { float: right; margin-left: 20px; }

.user__pic { margin-bottom: 20px; }
.user__pic img { display: block; border-radius: 4px; box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); }

.user__name { font-size: 30px; font-weight: bold; color: black; }

.user__stat { margin-bottom: 15px; font-size: 16px; color: #9b9b9b; }

.user__detail:before, .user__detail:after { content: ""; display: table; }
.user__detail:after { clear: both; }

.user__info { overflow: hidden; }
.user__info li { margin-bottom: 3px; color: #555555; }
.user__info strong { display: inline-block; width: 100px; margin-right: 20px; text-align: right; color: black; }

.stats:before, .stats:after { content: ""; display: table; }
.stats:after { clear: both; }

.stats_dark .stats__item span { background: #606060; border-color: #606060; color: white; }
.stats_dark .stats__item span:before { border-color: transparent transparent #606060 transparent; }
.stats_dark .stats__item span:after { display: none; }
.stats_dark .ico_stat-finger { background: url('../img/icons-sc1bbd9af41.png') 0 -153px no-repeat; width: 24px; height: 30px; }
.stats_dark .ico_stat-award { background: url('../img/icons-sc1bbd9af41.png') 0 -73px no-repeat; width: 24px; height: 30px; }

.stats__item { float: left; margin-left: 20px; text-align: center; font-size: 0; }
.stats__item:first-child { margin: 0; }
.stats__item i { margin-bottom: 14px; }
.stats__item span { position: relative; display: block; padding: 3px 6px; border-radius: 4px; background: white; border: 1px solid #e5e5e5; box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05); color: #9b9b9b; text-align: center; font-size: 18px; }
.stats__item span:before, .stats__item span:after { content: ""; position: absolute; left: 50%; margin-left: -6px; width: 0px; height: 0px; border-style: solid; border-width: 0 6px 6px 6px; }
.stats__item span:before { top: -7px; border-color: transparent transparent #e5e5e5 transparent; }
.stats__item span:after { top: -6px; border-color: transparent transparent white transparent; }

.awards__title { margin-bottom: 10px; font-weight: bold; }

.awards__list { margin: 0 0 20px -4px; font-size: 0; }
.awards__list li { display: inline-block; margin: 0 4px 10px; vertical-align: top; }

.actions .list-group { margin-bottom: 25px; }
.actions a.list-group-item { color: #0055cc; }
.actions a.list-group-item i { margin-right: 13px; }
.actions a.active { color: white; }
.actions div.list-group-item:before, .actions div.list-group-item:after { content: ""; display: table; }
.actions div.list-group-item:after { clear: both; }
.actions div.list-group-item .checkbox { float: left; margin: 5px 0 0 0; }
.actions div.list-group-item .btn-group { float: right; }
.actions div.list-group-item .btn-group .dropdown-menu { left: auto; right: 0; }
.actions div.list-group-item.active { background: white; }

.modal_start { display: block; padding-top: 150px; background-repeat: no-repeat; background-position: 0 0; background-size: cover; }
.modal_start .modal-header:before, .modal_start .modal-header:after { content: ""; display: table; }
.modal_start .modal-header:after { clear: both; }

.modal-header__right { float: right; margin-top: 5px; }

.login .title { margin-bottom: 15px; font-size: 25px; }
.login .login__desc { margin-bottom: 50px; }
.login .control-label { margin-bottom: 15px; font-size: 16px; }
.login .row .col-md-6 { border-left: 1px solid #e5e5e5; }
.login .row .col-md-6:first-child { border: none; }
.login .form-group .link { float: right; }

.login__social button { position: relative; width: 100%; height: 44px; padding-left: 44px; margin-bottom: 20px; border-radius: 5px; text-align: left; color: white; overflow: visible; }
.login__social button i { position: absolute; top: 7px; left: 8px; }
.login__social button.login__fb { background: #3b5998; }
.login__social button.login__fb i { background: url('../img/icons-sc1bbd9af41.png') 0 -916px no-repeat; width: 28px; height: 28px; }
.login__social button.login__vk { background: #446892; }
.login__social button.login__vk i { background: url('../img/icons-sc1bbd9af41.png') 0 -821px no-repeat; width: 28px; height: 28px; }
.login__social button.login__tw { background: #28aae1; }
.login__social button.login__tw i { background: url('../img/icons-sc1bbd9af41.png') 0 -724px no-repeat; width: 28px; height: 28px; }

.login__info { padding-top: 40px; text-align: center; font-size: 12px; color: #6c6c6c; }

.modal_recomm .modal-footer { margin: 0; }
.modal_recomm .help-block { margin-bottom: 0; }
.modal_recomm .modal-radio { padding-bottom: 10px; margin-bottom: 30px; border-bottom: 1px solid #e5e5e5; }
.modal_recomm .modal-radio .radio { margin-bottom: 20px; }
.modal_recomm .radio_mod input[type="radio"] { margin-top: 10px; }
.modal_recomm .radio_mod input[type="text"] { width: 240px; }
.modal_recomm .modal-checkbox { display: none; padding-left: 20px; margin-bottom: 20px; }
.modal_recomm .modal-checkbox:before, .modal_recomm .modal-checkbox:after { content: ""; display: table; }
.modal_recomm .modal-checkbox:after { clear: both; }
.modal_recomm .modal-checkbox .checkbox { float: left; margin: 0 20px 0 0; }
