@import "base"
* 
	margin: 0
	padding: 0 
	//-webkit-text-size-adjust: none
html, body 
	height: 100%
body
// resets
a img, fieldset 
	border: none
a
	color: $blue 
	&.is-red
		color: #cd0000 
li 
	list-style: none
textarea, button, select, input
	border: none
	outline: none
	font-family: Arial, Tahoma, sans-serif
button 
	line-height: 1
	cursor: pointer
	&::-moz-focus-inner
		padding: 0
		border: 0
input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span
	&:focus
		outline: none
table 
	border-spacing: 0
	border-collapse: collapse
//bootstrap
.btn
	&:focus
		outline: none
.btn-black
	border-color: 1px solid #303030
	background: #414141
	+background-image(linear-gradient(#414141, #252525))
	text-shadow: 0 -1px 0 rgba(0,0,0,.2)
	box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 1px 1px rgba(0,0,0,.075)
	color: #FFF !important
.row_comm
	padding-bottom: 60px
	margin-bottom: 40px
	border-bottom: 1px solid $bc
textarea
	&.form-control
		resize: vertical
.ico
	display: inline-block
	vertical-align: middle
.ico_plus
	+s(plus)
.ico_minus
	+s(minus)
.ico_complain
	+s(complain)
.ico_smile
	+s(smile)
.ico_pic
	+s(pic)
.ico_setting
	+s(setting)
.ico_male
	+s(male)
.ico_stat-finger
	+s(stat-finger)
.ico_stat-award
	+s(stat-award)
.ico_stat-list
	+s(stat-list)
.ico_stat-people
	+s(stat-people)
.ico_stat-heart
	+s(stat-heart)
.ico_act-star
	+s(act-star)
.ico_act-time
	+s(act-time)
.ico_act-list
	+s(act-list)
.ico_act-finger
	+s(act-finger)
.ico_act-letter
	+s(act-letter)
.ico_act-add
	+s(act-add)
.title
	margin-bottom: 25px 
	font-size: 18px
	font-weight: bold
//
.header
	position: relative
	background: #f5f5f5	
	+background-image(linear-gradient(#fff, #f9f9f9))	
	z-index: 5 
	.page-header
		position: relative
		padding: 15px 0
		margin: 0
		border: none
		+clr
.heade__links
	float: right
	margin-top: 4px
	a
		float: left
		margin-left: 20px
		color: #787878
		font-size: 15px
		text-shadow: 0 1px 0 #fff
		&:first-child
			margin: 0
.logo
	float: left
	margin: 4px 30px 0 0 
	+s(logo)
	+ht
.search
	float: left
	width: 318px 
	.btn
		font-size: 0
		i
			display: inline-block
			vertical-align: middle
			+s(search)
.search-load__row
	border-top: 1px solid #ccc 
	+clr
	&:first-child
		border: none
.search-load
	position: absolute
	top: 100%
	left: 72px 
	background: #f5f5f5 
	border: 1px solid #ccc
	border-radius: 0 0 4px 4px
	z-index: 1000
.search-load__type
	float: left
	width: 115px
	padding: 15px
	background: #f5f5f5
	font-weight: bold 
	text-align: right
.search-load__list
	float: left
	width: 330px 
	padding: 13px 0
	margin: 0
	background: #FFF 
	a
		display: block
		padding: 2px 20px
		&:hover
			background: $blue 
			color: #fff 
			text-decoration: none
			span
				color: #fff 
	span
		color: #787878 
.social
	float: right
	margin-left: 25px
	a
		float: left
		margin-left: 7px
		&:first-child
			margin: 0
		&:hover
			opacity: .7 
.social__fb 
	+s(fb)
.social__tw
	+s(tw)
.social__vk
	+s(vk)
.nav-wrap
	background: #5b7999 
	position: relative
	z-index: 200 
	.nav
		li
			&.active
				background: #415b77
				a
					color: #b1cbe4  
			ul
				display: none
				+rt(780)
					display: none !important
			&:hover
				ul
					display: block
					position: absolute
					top: 100%
					left: 0 
					background: #5B7999
					width: 200px  
					li,a
						float: none
						display: block
					a
						padding: 4px 15px
						text-decoration: none
						&:hover
							background: #415B77
							 
		a
			color: #fff
			font-size: 16px
			font-weight: bold
			text-shadow: 0 -1px 0 rgba(0,0,0,.3)
			&:hover
				background: #5b7999
		
			
